<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
    </head>
<body>
    {{>header}}

    <h3>Use this to get your weather forecast!!</h3>

    <form>
        <input placeholder="Enter location">
        <button>Search</button>

    </form>
    <p id = 'msg1'></p>
    <p id = 'msg2'></p>


    <h4 class="footer">Created by Swami</h4>
    <script src="./java/app.js"></script>
</body>
</html>